---
import Layout from '../../layouts/Layout.astro';
import WorkoutCard from '../../components/WorkoutCard.astro';
import ExerciseList from '../../components/ExerciseList';

---

<Layout title="Planes de Entrenamiento - FitLife">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="text-center mb-12">
      <h1 class="text-4xl font-bold text-gray-900 mb-4">Planes de Entrenamiento</h1>
      <p class="text-xl text-gray-600">
        Elige el plan que mejor se adapte a tus objetivos y nivel actual
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <WorkoutCard
      plan={{
        id: "fullbody",
        title: "Entrenamiento de fuerza",
        description: "Usando una mancuerna y otros ejercicios de fuerza, te ayudaremos a mejorar tu fuerza y resistencia.",
        level: "Intermedio",
        duration: "60 minutos",
        frequency: "3 veces por semana",
        image: "/images/exercises/fuerza.jpg",
      }}
    />
    <WorkoutCard
  plan={{
    id: "cardio",
    title: "Entrenamiento cruzado",
    description: "Running y ciclismo son ejercicios de cardio que te ayudan a mejorar tu condición cardiovascular.",
    level: "Intermedio",
    duration: "60 minutos",
    frequency: "3 veces por semana",
    image: "/images/exercises/ciclismoyrunnig.webp",
  }},
  />
  <WorkoutCard
  plan={{
    id: "fullbody",
    title: "Descanso activo",
    description: "Un paseo en el bosque o una caminata son ejercicios de descanso activo que te ayudan a mejorar tu salud y bienestar.",
    level: "Principiante",
    duration: "60 minutos",
    frequency: "4 veces por semana",
    image: "/images/exercises/descanso-activo.jpg",
  }}
/>

    </div>

    <div class="mt-16">
      <h2 class="text-3xl font-bold text-gray-900 mb-8 text-center">
        Ejercicios Incluidos
      </h2>
      <ExerciseList client:load />
    </div>
  </div>
</Layout>